<h1 class="text-center">W a r M - M a s s A</h1>
<div class="container">
  <div class="site-content">
  <img class="justify-content" src="https://saboraitaliamx.com/wp-content/uploads/2021/02/Pizza-Napoletana.jpg">
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
